<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h1>Hi This is <%= user.name %></h1>
    <h3>Email is <%= user.email %></h3>

</body>
</html>